# FastAPI core
fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn 
# Database
sqlalchemy==2.0.34
asyncpg==0.27.0
alembic==1.13.2

# Async utilities
aiofiles==23.1.0
aiosqlite==0.20.0

# Authentication & Security

python-jose[cryptography]==3.3.0
bcrypt==4.2.0
passlib[bcrypt]==1.7.4
# HTTP Requests
requests==2.32.3
httpx==0.24.1

# File upload & parsing
python-multipart==0.0.9

# Data validation
pydantic==2.9.2
pydantic-settings==2.6.1

# Environment variables
python-dotenv==1.0.1

# Utilities
email-validator==2.2.0
loguru==0.7.2

PyJWT==2.8.0
reportlab==4.2.2
openpyxl==3.1.5